@font-face {
	font-display: block;
	font-family: 'Messina Sans';
	font-weight: normal;
	src: url('../fonts/MessinaSans-Regular.woff');
}

@font-face {
	font-display: block;
	font-family: 'Messina Sans';
	font-weight: 700;
	src: url('../fonts/MessinaSans-Bold.woff');
}