@font-face {
  font-family: 'Messina';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('../fonts/MessinaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Larssei';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('../fonts/Larsseit-Bold.woff') format('woff');
}