@media screen and (min-width: 768px) {
	html {
		min-height: 100%;
	}
	.header {
		grid-template-areas: 'logo content';
		grid-template-columns: auto .65fr;
	}
}

@media screen and (min-width: 992px) {
	.header {
		grid-template-areas: 'logo content';
		grid-template-columns: auto .4fr;
	}
}