/**
 * Global color variables.
 */
$black: #000;
$near-black: #0d1117;
$white: #fff;
$near-white: #929fa8;


/**
 * Global font variables.
 */
$primary-font: 'Messina Sans';
$secondary-font: 'Larsseit';